.charts-section {
   margin: 0px 0px 80px 0px;
}
.charts-body {
   display: grid;
   grid-template-columns: repeat(2, 600px);
   grid-gap: 60px;
   @media(max-width: 1400px) {
      grid-template-columns: minmax(auto, 600px);
   }
   @media(max-width: 767px) {
      justify-content: center;
   }
}
.charts__item {
   background-color: var(--bright);
   box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.08), 0px 80px 160px rgba(0, 0, 0, 0.04);
   border-radius: 24px;
   overflow: hidden;
   position: relative;
   &::after {
      content: '';
      display: block;
      width: 90%;
      height: 1px;
      background: var(--shade);
      position: absolute;
      bottom: 90px;
      left: 5%;
      right: 5%;
   }
}
.chart-content--1 {
   @media(max-width: 1400px) {
      margin: 0px 0px 50px 0px;
   }
}
.chart-name {
   height: 56px;
   margin: 0px 0px 24px 0px;
   padding: 19px 24px 16px;
   font-weight: 500;
   background-color:  #DAE8EE;
   color: var(--secondary);
}
#myChart1 {
   margin: -50px 0px 0px -20px;
}
#myChart2 {
   margin: 0px 0px 0px -20px;
}
.chart__wrapper {
   padding: 0px 0px 40px;
   &--1 {
      width: 90%;
      height: 450px;
      margin: 0px 0px 0px 20px;
   }
   &--2 {
      width: 90%;
      height: 415px;
      margin: 0px 0px 0px 20px;
   }
   &--3 {
      width: 90%;
      height: 430px;
   }
}
.chart__title {
   margin: 0px 0px 4px 0px;
   padding: 0px 24px 0px;
   font-weight: 700;
   font-size: 34px;
   line-height: 44px;
}
.chart__subtitle {
   margin: 0px 0px 4px 0px;
   padding: 0px 24px 0px;
   font-weight: 500;
   font-size: 18px;
   line-height: 23px;
   color: #728191;
   background-color: var(--bright);
}
.chart__result {
   margin: 0px 0px 45px 0px;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   color: var(--muted);
}