.misc-section {
   margin: 0px 0px 80px 0px;
}
.misc-body {
   display: flex;
   @media(max-width: 991px) {
      flex-wrap: wrap;
   }
}
.misc-block {
   &:first-of-type {
      margin: 0px 120px 0px 0px;
      @media(max-width: 991px) {
         flex: 0 0 50%;
         margin: 0px 0px 40px 0px;
      }
      @media(max-width: 565px) {
         flex: 1 1 100%;
         text-align: center;
      }
   }
   &:nth-of-type(2) {
      margin: 0px 80px 0px 0px;
      @media(max-width: 991px) {
         margin: 0px 0px 40px 0px;
      }
      @media(max-width: 565px) {
         flex: 1 1 100%;
         text-align: center;
      }
   }
}
.misc__list {
   @media(max-width: 565px) {
      width: 180px;
      margin: 0 auto;
   }
   &--before {
      &:nth-child(1) {
         background: url(../img/elements/misc/icon1.svg) no-repeat;
         background-position: center left;
      }
      &:nth-child(2) {
         background: url(../img/elements/misc/icon2.svg) no-repeat;
         background-position: center left;
      }
      &:nth-child(3) {
         background: url(../img/elements/misc/icon3.svg) no-repeat;
         background-position: center left;
      }
      &:nth-child(4) {
         background: url(../img/elements/misc/icon4.svg) no-repeat;
         background-position: center left;
      }
      &:nth-child(5) {
         background: url(../img/elements/misc/icon5.svg) no-repeat;
         background-position: center left;
      }
   }
   &--after {
      &:nth-child(1) {
         background: url(../img/elements/misc/icon1.svg) no-repeat;
         background-position: center right;
      }
      &:nth-child(2) {
         background: url(../img/elements/misc/icon2.svg) no-repeat;
         background-position: center right;
      }
   }
}
.misc__item {
   margin: 0px 0px 20px 0px;
   &--before {
      padding: 0px 0px 0px 38px;
   }
   &--after {
      padding: 0px 34px 0px 0px;
   }
   
}

//  ==================  rating  ==================  //

.rating-block {
   @media(max-width: 991px) {
      flex: 1 1 100%;
   }
   @media(max-width: 565px) {
      max-width: 150px;
      margin: 0 auto;
      text-align: center;
   }
}
.rating {
   display: flex;
   align-items: flex-end;
   margin: 0px 0px 6px 0px;
}
.rating__items {
   display: flex;
   flex-direction: row-reverseJ;
   align-items: center;
   margin: 0px 6px 0px 0px;
}
.star {
   display: block;
   width: 20px;
   height: 20px;
   margin: 0px 5px 0px 0px;
   background: url(../img/elements/misc/star-off.svg) no-repeat;
   &.selected {
      background: url(../img/elements/misc/star-on.svg) no-repeat;
   }
}
.rating__value {
   line-height: 1;
   font-weight: 500;
   font-size: 16px;
}




















// .rating {
//    display: flex;
//    align-items: flex-end;
//    margin: 0px 0px 6px 0px;
// }
// .rating__items {
//    display: inline-block;
//    margin: 0px 6px 0px 0px;
//    position: relative;
//    width: 119px;
//    height: 20px;
//    background: url(../img/elements/misc/star-off.svg) space;
// }
// .rating-item {
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//    position: absolute;
//    top: 0;
//    left: 0;
//    height: 20px;
//    transition: 0.4s ease;
//    // &:checked {
//    //    background: url(../img/elements/misc/star-on.svg) space;
//    // }
//    &:hover {
//       background: url(../img/elements/misc/star-on.svg) space;
//       & ~ .rating-item {
//          background: url(../img/elements/misc/star-on.svg) space;
//       }
//    }
//    &.selected {
//       background: url(../img/elements/misc/star-on.svg) space;
//       & ~ .rating-item {
//          background: url(../img/elements/misc/star-on.svg) space;
//       }
//    }
//    &:checked {
//       background: url(../img/elements/misc/star-on.svg) space;
//       & ~ .rating-item {
//          background: url(../img/elements/misc/star-on.svg) space;
//       }
//    }
//    &:nth-last-of-type(1) {
//       width: 25px;
//       z-index: 5;
      
//    }
//    &:nth-last-of-type(2) {
//       width: 45px;
//       z-index: 4;
//    }
//    &:nth-last-of-type(3) {
//       width: 69.8px;
//       z-index: 3;
//    }
//    &:nth-last-of-type(4) {
//       width: 94.6px;
//       z-index: 2;
      
//    }
//    &:nth-last-of-type(5) {
//       width: 118.7px;
//       z-index: 1;
      
//    }
// }
// .rating__value {
//    display: inline-block;
//    line-height: 1;
//    font-weight: 500;
//    font-size: 16px;
// }


