.modals-section {
   margin: 0px 0px 80px 0px;
}
.modals-body {
   display: flex;
   @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
   }
}
.modal {
   width: 100%;
   max-width: 480px;
   height: 220px;
   padding: 30px 24px 0px;
   background: var(--bright);
   box-shadow: 0px 16px 32px rgba(44, 39, 56, 0.04), 0px 32px 64px rgba(44, 39, 56, 0.08);
   border-radius: 16px;
   position: relative;
   &:first-of-type {
      margin: 0px 40px 0px 0px;
      @media (max-width: 991px) {
         margin: 0px 0px 40px 0px;
      }
      @media (max-width: 767px) {
         margin: 0px auto 40px;
      }
   }
   @media (max-width: 767px) {
      // margin: 0 auto;
      max-width: 100%;
   }
   & .btn--bright--pressed {
      margin: 0px 16px 0px 0px;
   }
}
.modal__title {
   margin: 0px 0px 17px 0px;
   font-weight: 600;
   font-size: 28px;
   line-height: 36px;
}
.modal__text {
   margin: 0px 0px 34px 0px;
}
.modal__buttons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.modal__close {
   position: absolute;
   top: 30px;
   right: 24px;
   cursor: pointer;
   img {
      width: 30px;
      height: 30px;
   }
}