.popover-section {
   margin: 0px 0px 80px 0px;
}
.popover-body {
   display: grid;
   grid-template-columns: repeat(auto-fit, 200px);
   grid-gap: 20px;
   @media(max-width: 767px) {
      justify-content: center;
   }
}
.popover-block {
   padding: 10px;
}
.popover {
   padding: 16px;
   margin: 0px 0px 40px 0px;
   border-radius: 8px;
   font-size: 14px;
   position: relative;
   &:last-of-type {
      margin: 0px 0px 0px 0px;
   }
   &::before {
      content: '';
      display: block;
      position: absolute;
   }
   &--bright {
      background-color: var(--bright);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/bright-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/bright-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/bright-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/bright-left.svg) no-repeat;
         }
      }
      & .popover__info-title {
         color: var(--primary);
      }
      & .popover__info-text {
         color: var(--secondary);
      }
   }
   &--primary {
      background-color: var(--primary);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/primary-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/primary-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/primary-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/primary-left.svg) no-repeat;
         }
      }
   }
   &--accent {
      background-color: var(--accent);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/accent-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/accent-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/accent-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/accent-left.svg) no-repeat;
         }
      }
   }
   &--warning {
      background-color: var(--warning);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/warning-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/warning-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/warning-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/warning-left.svg) no-repeat;
         }
      }
   }
   &--success {
      background-color: var(--success);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/success-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/success-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/success-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/success-left.svg) no-repeat;
         }
      }
   }
   &--error {
      background-color: var(--error);
      &.popover--top {
         &::before {
            background: url(../img/elements/popover/error-top.svg) no-repeat;
         }
      }
      &.popover--right {
         &::before {
            background: url(../img/elements/popover/error-right.svg) no-repeat;
         }
      }
      &.popover--bottom {
         &::before {
            background: url(../img/elements/popover/error-bottom.svg) no-repeat;
         }
      }
      &.popover--left {
         &::before {
            background: url(../img/elements/popover/error-left.svg) no-repeat;
         }
      }
   }
   &--top {
      &::before {
         width: 20px;
         height: 10px;
         top: -9px;
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &--right{
      &::before {
         width: 10px;
         height: 20px;
         top: 50%;
         right: -9px;
         transform: translateY(-50%);
      }
   }
   &--bottom {
      &::before {
         width: 20px;
         height: 10px;
         bottom: -9px;
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &--left {
      &::before {
         width: 10px;
         height: 20px;
         top: 50%;
         left: -9px;
         transform: translateY(-50%);
      }
   }
}
.popover__info {
   line-height: 18px;
   
}
.popover__info-title {
   margin: 0px 0px 4px 0px;
   font-weight: 500;
   color: var(--bright);
}
.popover__info-text {
   color: rgba(255, 255, 255, 0.86);
}
