//  ====================  typeface  ====================  //

.typeface-section {
   margin: 0px 0px 80px 0px;
}
.font {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   @media(max-width: 767px) {
      flex-direction: column;
   }
}
.font__item--left {
   flex: 0 0 320px;
   @media(max-width: 1250px) {
      flex: 0 0 270px;
   }
   @media(max-width: 767px) {
      flex: 0 0 200px;
      margin: 0px 0px 40px 0px;
   }
}
.font-icon {
   height: 320px;
   padding: 27px 35px 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--primary);
   border-radius: 45px;
   @media(max-width: 1250px) {
      height: 270px;
   }
   @media(max-width: 767px) {
      height: 200px;
   }
}
.font__a-letters {
   font-size: 196px;
   line-height: normal;
   font-weight: 600;
   color: var(--tint);
   @media(max-width: 1250px) {
      font-size: 160px;
   }
   @media(max-width: 767px) {
      font-size: 105px;
      padding: 0px 0px 0px 0px;
   }
}
.font__item--right {
   flex: 1 1 auto;
   margin: 0px 0px 0px 60px;
   @media(max-width: 767px) {
      margin: 0px 0px 0px 0px;
      text-align: center;
   }
}
.font__subtitle {
   font-size: 20px;
   line-height: 1.4;
   font-weight: 600;
   color: var(--muted);
}
.font__title {
   margin: 0px 0px 20px 0px;
   font-size: 34px;
   line-height: 1.29;
   font-weight: 600;
}
.font-block {
   margin: 0px 0px 20px 0px;
   font-size: 20px;
   line-height: 1.5;
}
.font__type {
   margin: 0px 0px 5px 0px;
}
.font-block--semibold {
   font-weight: 600;
}
.font__type--semibold {
   font-weight: 600;
}
.font-block--download {
   
   font-size: 16px;
}
.font-download__title {
   margin: 0px 0px 3px 0px;
}
.font-download__link {
   a {
      color: var(--accent);
      text-decoration: underline;
      transition: 0.4s ease;
      &:hover {
         color: var(--muted);
      }
   }
}


//  ====================  colors  ====================  //

.colors-section {
   margin: 0px 0px 80px 0px;
}
.colors {
   display: grid;
   grid-template-columns:repeat(auto-fit, 300px);
   grid-gap: 40px;
   justify-content: center;
}
.colors-item {
   height: 300px;
   border-radius: 45px;
   box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
   position: relative;

   &--1 {
      background-color: var(--accent);
   }
   &--2 {
      background-color: var(--warning);
   }
   &--3 {
      background-color: var(--success);
   }
   &--4 {
      background-color: var(--error);
   }
   &--5 {
      background-color: var(--primary);
   }
   &--6 {
      background-color: var(--secondary);
   }
   &--7 {
      background-color: var(--muted);
   }
   &--8 {
      background-color: var(--bright);
   }
   &--9 {
      background-color: var(--shade);
   }
   &--10 {
      background-color: var(--tint);
   }
}
.colors-item__info {
   position: absolute;
   bottom: 13.333%;
   left: 13.333%;
}
.colors-name {
   margin: 0px 0px 4px 0px;
   font-size: 20px;
   line-height: 1.4;
   font-weight: 600;
   color:rgba(255, 255, 255, 0.56);
   &--dark {
      color:rgba(44, 39, 56, 0.56);
   }
}
.colors-item__number {
   font-size: 24px;
   line-height: 1.29;
   font-weight: 600;
   color:#ffffff;
   text-transform: uppercase;
   &--dark {
   color: var(--primary);
   }
}


//  ====================  icons  ====================  //

.icons {
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: minmax(auto, 348px);
   @media(max-width: 767px) {
      justify-content: center;
   }
   @media(max-width: 470px) {
      grid-template-columns: minmax(auto, 186px);
   }
}
.icons-block {
   display: inline-grid;
   grid-template-columns: repeat(auto-fit, minmax(30px, auto));
   grid-gap: 24px;
   padding: 30px 24px;
   border-radius: 30px;
   &:not(:last-of-type) {
      margin: 0px 0px 40px 0px;
   }
   &--white-blue {
      background-color: #fff;
      & .icons-block__icon {
         fill: var(--accent);
      }
   }
   &--blue-white {
      background-color: var(--accent);
      & .icons-block__icon {
         fill: var(--bright);
      }
   }
   &--white-black {
      background-color: #fff;
      & .icons-block__icon {
         fill: var(--primary);
      }
   }
}
.icons-block__item {
   display: flex;
   justify-content: center;
   align-items: center;
}
.icons-block__icon {
   height: 30px;
   width: 30px;
}
