@import "_nullstyle";
@import "_main-nav";
@import "_typeface";
@import "_logos-avatars";
@import "_list";
@import "_popover";
@import "_tooltip";
@import "_misc";
@import "_typescale";
@import "_form";
@import "_headers";
@import "_flaps";
@import "_modals";
@import "_callouts";
@import "_charts";
@import "_cards";
@import "_forms";


:root {
   --accent: #0880ae;
   --warning: #f2ac57;
   --success: #14a38b;
   --error: #ff7171;
   --primary: #2c2738;
   --secondary: #756f86;
   --muted: #7c9cbf;
   --bright: #ffffff;
   --shade: #dbe2ea;
   --tint: #ebf4f8;
}


body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 16px;
   line-height: 21px;
   color: var(--primary);
   background-color: var(--tint);
   &.lock {
      overflow-y: hidden;
   }
}
.wrapper {
   padding: 60px 60px 180px;
   @media(max-width: 565px) {
      padding: 40px 10px 60px;
   }
}
.title {
   font-size: 26px;
   line-height: 1.29;
   font-weight: 600;
   @media(max-width: 767px) {
      text-align: center;
   }
   span {
      margin: 0px 15px 0px 0px;
      color: var(--muted);
   }
   &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: var(--shade);
      margin: 20px 0px 60px 0px;
   }
}
